body{
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: c;
    
    
}
main{
    background-color: white;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 100px 150px;
    width: 25%;
    height: 80%;
    border-radius: 15px;
    justify-content: center;
    

}
#body{
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    
    
    
    
}
#image{
    
    width: 100px;
    height: 100px;

    
    
}
#informative_text{
    grid-column: 1/1;
    grid-row: 2/3;
}
