#content{
    display: grid;
    grid-template-columns: (4, 1fr), 50px;
}
#navagation_bar{
    margin-top: 25px;
    background-color: black;
    color: white;
    text-align: center;
    




}
div nav a{
    color: white;
    padding: 25px;
    text-decoration: none;
}
div nav a:hover{
    background-color: blanchedalmond;
    
}