body{
    margin: 0 auto;
    background-color: antiquewhite;
    text-align: center;
    ;
}
#img{
    margin: 0 auto;
    width: 20%;
}

#education{
    font-size: 55px;
    margin-top: 5%;

}
#education:hover{
    color: blue;
}
#list{
    display: inline;
    margin-right: 10px;
}
h3{
    font-size: 35px;
}
 