@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=IBM+Plex+Sans:ital,wght@1,300&family=Just+Another+Hand&family=Merriweather:ital@1&family=Playfair+Display:ital,wght@0,500;1,500&family=Playfair:ital,opsz@1,5..1200&display=swap');/* CSS header */

header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgb(255, 255, 255);
    
}
header img{
    width: 100px;
    
}
header a{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    text-decoration: none;
    
}
nav a:hover{
    color: rgb(12, 12, 12);
}
#navagation_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
header nav a{
    padding-left: 55px;
    font-size: 20px;
}




/* CSS MAIN */

#hero{
    padding-top: 30px;
    padding-left: 30px;
    font-size: 21px;
    background: rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;
    
}
#img_part1{ 
    width: 70%;
} 
#part1_main{
    display: grid;
    grid-template-columns: 60% 40%;
    
}
#title_part1, .text{
    grid-column: 1/2;
    grid-row: 1/2;
}
.text{
    display: flex;
    padding: 70px;
    text-align: center;   
    align-items: center;
    font-family: 'Just Another Hand', cursive;
    font-size: 32px;
    line-height: 0.9;

}
#title_part1{
    text-align: center;
    font-size: 23px;
    margin-top: 60px;
    font-family: 'Playfair Display', serif;
}





/* #part1_main{
    position: relative;
} */
/* #title_part1{
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .text{
    position: absolute;
    text-align: center;
    width: 20%;
    margin-left: 60px;
    font-size: 18px;
} */

#part2_main{
    display: grid;
    grid-template-columns: 40% 60%;
}
#text_part2{
    text-align: left;
    grid-column: 2/3;
    font-size: 18px;
    padding: 12px;
    padding-top: 30px;
}
#text_part2 h2{
    text-align: center;
    font-family: 'Playfair Display', serif;
    
}
.part2_text{
    font-family: 'Merriweather', serif;
}


#part2_main{
    display: flex;
    justify-content: center;
    align-items: center;
}
#img_part2{
    width: 25%;
    padding: 60px;
}

/* CSS PART3_MAIN */
#part3_main{
display: grid;
grid-template-columns: 8% 20% 11% 20% 11% 20% 8%;
grid-template-rows: 24% 80% 25%;
}

#part3_main h2{
    text-align: center;
    font-size: 25px;
    grid-column: 4/5;
    grid-row: 1/2;
}
#img_part3_1{
    width: 70%;
    grid-column: 2/3;
    grid-row: 2/3;
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;

}
#img_part3_1:hover{
    width: 80%;
    opacity: .6;
    transform: scale(1.1);
}

#img_part3_2{
    width: 80%;
    grid-column: 4/5;
    grid-row: 2/3; 
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;   
}
#img_part3_2:hover{
    width: 80%;
    opacity: .6;
    transform: scale(1.1);
}

#img_part3_3{
    width: 60%;
    grid-column: 6/7;
    grid-row: 2/3; 
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;   
}
#img_part3_3:hover{
    width: 80%;
    opacity: .6;
    transform: scale(1.1);
}
#text1_1{
    grid-column: 2/3;
    grid-row: 3/4;
}
#text1_2{
    grid-column: 4/5;
    grid-row: 3/4;
}
#text1_3{
    grid-column: 6/7;
    grid-row: 3/4;
}
.text_set{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 25px;

}
.img_set{
    display: flex;
    align-self: center;
    justify-self: center;
}
/* .flecha {
    display: flex;
    position: relative;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}
  
.flecha::after {
    
    content: "";
    position: absolute;
    top: -10px;
    left: 10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
    
}
.flecha1 {
    display: flex;
    position: relative;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}
   */

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 200px;

}
#name_tag{
    font-size: 25px;
}
#block2{
    margin: 0 auto;
}
.footer_img{
    width: 40px;
}
#box_information{
    line-height: 0.5;
}


























